<!--    python manage.py runserver           -->

{% extends 'shop/basic.html' %}
{% block title %} {% endblock %}
 {% block css %}

 .card-body {
     flex: 1 1 auto;
     padding: 0rem 1rem;
 }
.container, .container-lg, .container-md, .container-sm {
max-width: 95%;
height:380px;
margin-left: 50px;
}
 .col-md-3 {
display: inline-block;
margin-left:-4px;
width:22%;
height: 380px;
}
 .btn_i {
font-size:11px;
cursor:pointer;
padding:.375rem 0.25rem;
display:inline;
overflow:hidden;
}
.card{
width: 203px;
height:380px;
background-color: #ffffffbd;
 }
  .card-text{
max-height:20px;
font-size:11px;
}
.col-md-3 img{
max-width: 200px;
height:235px;
 }
 body
.carousel-indicator li{
background-color: blue;
 }
  body .carousel-indicators{
bottom: 0;
}
 body .carousel-control-prev-icon, body .carousel-control-next-icon{
background-color: #00ffd6;
}
 .carousel-control-prev, .carousel-control-next{
top: auto;
bottom:auto;
width: 10%;
padding-top: 200px;
}
 body .no-padding{
padding-left: 0, padding-right: 0;
 }
  .carousel-indicators {
margin-right: 47%;
margin-bottom: 2rem;
margin-left: 46%;
}
 element.style { } .carousel-indicators
.active {
   opacity: 1;
 }
 {% endblock %}


 element.style {
 }
 .carousel-indicators [data-bs-target] {
     background-color: #078595;
   }
 <!--        body            -->

 {% block body %}

 {% load static %}
<div class="container">
  {% for product, range, nslides in all_products %}
  <a
    class="carousel-control-prev"
    href="#demo{{forloop.counter}}"
    data-bs-slide="prev"
  >
    <span class="carousel-control-prev-icon"></span>
  </a>
  <a
    class="carousel-control-next"
    href="#demo{{forloop.counter}}"
    data-bs-slide="next"
  >
    <span class="carousel-control-next-icon"></span>
  </a>
  <h4 class="my-4">Flash Sale On {{product.0.category}} - Recommended Items</h4>

  <div
    id="demo{{forloop.counter}}"
    class="col carousel slide my-3"
    data-bs-ride="carousel"
  >
    <ul class="carousel-indicators">
      <li
        data-bs-target="#demo{{forloop.counter}}"
        data-bs-slide-to="0"
        class="active"
      ></li>

      {% for i in range %}
      <li
        data-bs-target="#demo{{forloop.parentloop.counter}}"
        data-bs-slide-to="{{i}}"
      ></li>
      {% endfor %}
    </ul>

    <!--Slideshow starts here -->
    <div class="container carousel-inner no-padding">
      <div class="carousel-item active">
        <!--        <div class="col-xs-3 col-sm-3 col-md-3">-->
        <!--          <div class="card">-->
        <!--            <img src="/media/{{product.0.image}}" class="card-img-top" />-->
        <!--              <div class="card-body">-->
        <!--                <h5 class="card-title">{{product.0.product_name}}</h5>-->
        <!--                <p class="card-text">{{product.0.desc}}</p>-->
        <!--                <button class="cart btn btn-primary" id="pr{{product.0.id}}">Add to Cart</button>-->
        <!--              </div>-->
        <!--          </div>-->
        <!--        </div>-->

        {% for i in product %}

        <div class="col-xs-3 col-sm-3 col-md-3">
          <div class="card align-items-center">
            <img src="/media/{{i.image}}" class="card-img-top" />
            <div class="card-body">
              <h5 class="card-title" id="namepr{{i.id}}">{{i.product_name}}</h5>
              <p class="card-text">{{i.desc|slice:"[0:25]"}} ...</p>
              <h6 class="card-title">Rs.{{i.price}} only</h6>
              <!-- <span id="divpr{{i.id}}" class="divpr"> -->
              <button class="cart btn btn-primary btn_i" id="pr{{i.id}}">
                Add To Cart
              </button>
              <!-- </span> -->
              <a href="/shop/Products/{{i.id}}"
                ><button class="btn btn-primary btn_i" id="qr{{i.id}}">
                  Quick view
                </button></a
              >
            </div>
          </div>
        </div>
        {% if forloop.counter|divisibleby:4 and forloop.counter > 0 and not forloop.last %}
      </div>
      <div class="carousel-item">{% endif %} {% endfor %}</div>
    </div>
  </div>
  <!-- left and right controls for the slide -->

  {% endfor %} {% endblock %}
</div>

{% block js %} {% endblock %}
